

/*body{background-image:url("../random/white_stage.jpg");}*/
/*Books on the shelf*/
#book{

    width: 570px; 
    height: 350px; 
    position: relative; 

    float:right;
}

#topshelf{
    position:relative;
    width:100%;
    height:500px;

    /*background-size:100% 100%;*/
    /*        background-image:url('background/ruled.jpg');*/
    /*background-color:#FF8C00;*/
}
